<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Current version</string>
			<key>Key</key>
			<string>DubsarCurrentAppVersion</string>
			<key>DefaultValue</key>
			<string>2.0.0.2</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font Family</string>
			<key>Key</key>
			<string>DubsarFontFamily</string>
			<key>DefaultValue</key>
			<string>Arial</string>
			<key>Titles</key>
			<array>
				<string>Arial</string>
				<string>Avenir Next</string>
				<string>Baskerville</string>
				<string>Cochin</string>
				<string>Courier New</string>
				<string>Didot</string>
				<string>Euphemia UCAS</string>
				<string>Georgia</string>
				<string>Gill Sans</string>
				<string>Helvetica Neue</string>
				<string>Menlo</string>
				<string>Palatino</string>
				<string>Times New Roman</string>
				<string>Trebuchet MS</string>
				<string>Verdana</string>
			</array>
			<key>Values</key>
			<array>
				<string>Arial</string>
				<string>Avenir Next</string>
				<string>Baskerville</string>
				<string>Cochin</string>
				<string>Courier New</string>
				<string>Didot</string>
				<string>Euphemia UCAS</string>
				<string>Georgia</string>
				<string>Gill Sans</string>
				<string>Helvetica Neue</string>
				<string>Menlo</string>
				<string>Palatino</string>
				<string>Times New Roman</string>
				<string>Trebuchet MS</string>
				<string>Verdana</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
